



#popper-container[data-popper-placement^='left'] .arrow {
    right: -5px
}

#popper-container[data-popper-placement^='left'] .arrow::before {
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1
}

#popper-container[data-popper-placement^='right'] .arrow {
    left: -5px
}

#popper-container[data-popper-placement^='right'] .arrow::before {
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1
}

#translate-btn {
    position: absolute;
    z-index: 9999999999;
    left: 0;
    top: 0
}

#translate-btn .bp3-button {
    padding: 2px;
    min-width: 0;
    min-height: 0
}

#translate-btn .btn-icon {
    width: 18px;
    height: 18px;
    background-image: url(chrome-extension://ikhdkkncnoglghljlkmcimlnlhkeamad/logo.png);
    background-size: contain
}

.bp3-dark #translate-btn .btn-icon {
    background-image: url(chrome-extension://ikhdkkncnoglghljlkmcimlnlhkeamad/logowhite36.png)
}

#translate-btn.show {
    display: block
}

.translate-type-selector .bp3-label {
    display: inline
}

.translate-type-selector .bp3-radio {
    margin-bottom: 0
}

#ocr-container {
    position: fixed;
    z-index: 99999999999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

#ocr-container .toolbar {
    display: none;
    position: absolute;
    z-index: 1
}

#ocr-container img {
    max-width: 100%
}

#app {
    cursor: default
}

.switch-pin {
    flex-shrink: 0;
    cursor: pointer
}

.switch-pin .bp3-icon-pin {
    transition: transform 0.2s, color 0.2s;
    transform: rotate(-45deg)
}

.pin .switch-pin .bp3-icon-pin {
    transform: rotate(-70deg)
}

.cut-btn {
    margin-left: 2px
}

.app-toaster-container {
    position: fixed !important;
    z-index: 9999999999 !important
}

.app-toaster-container .bp3-toast {
    min-width: auto
}

#web-trs-panel .app-toaster-container {
    padding-right: 0
}
